<div class="container text-center">
  <!--Header-->
    <div class="row">
      <div class="col-md-12">
        <div id="banner">
          <h1>LITTLE LINK INSPECTOR</h1>
        </div>
      </div>
    </div>
  <br><br><br><br>


  <!--Input-->
    <div class="row">
        <div class="col-md-12">
        <p><strong>Insert your bit.ly link here!</strong></p>
        <form class="input" action="/" method="post">
              <textarea name="short_link" rows="4" cols="40"></textarea>
              <button id="submit" type="submit" class="btn btn-primary center-block">Submit</button>
        </form>
        </div>
    </div>
  <br><br><br><br>


  <!--Response-->
    <div class="row">
      <div class="col-md-12">
        <h2>Actual URL</h2>
          {{#each this.Links}}
              The bit.ly link: <a href={{this.short_link}}>{{this.short_link}}</a>
            <br>
              The full link: <a href={{this.long_link}}>{{this.long_link}}</a>
            <br>
              The Domain name: <a href={{this.domain_name}}>{{this.domain_name}}</a>
            <br>
              This site is safe: {{this.safe}}
            <br>
          {{/each}}
      </div>
    </div>

</div>